@{
    ViewData["Title"] = "Home Page";
}

    <html lang="en-US" class="dark-theme-everywhere-specificity-helper dark-theme-everywhere-off js_active  vc_desktop  vc_transform  vc_transform " id="dark-theme-everywhere-specificity-helper">
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">


        <title>Jevelin Theme Portfolio Minimalistic Demo – Just another Jevelin WordPress Theme site</title>
        <link rel="dns-prefetch" href="//cdn.jevelin.shufflehound.com">
        <link rel="dns-prefetch" href="//fonts.googleapis.com">
        <link rel="dns-prefetch" href="//s.w.org">
        <link rel="alternate" type="application/rss+xml" title="Jevelin Theme Portfolio Minimalistic Demo » Feed" href="https://jevelin.shufflehound.com/portfolio-minimalistic/feed/">
        <link rel="alternate" type="application/rss+xml" title="Jevelin Theme Portfolio Minimalistic Demo » Comments Feed" href="https://jevelin.shufflehound.com/portfolio-minimalistic/comments/feed/">
        <link rel="stylesheet" crossorigin="anonymous" href="https://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9qZXZlbGluLnNodWZmbGVob3VuZC5jb20vcG9ydGZvbGlvLW1pbmltYWxpc3RpYw">
        <script async="" src="//www.google-analytics.com/analytics.js"></script>
        <script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/jevelin.shufflehound.com\/portfolio-minimalistic\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.3.2"}};
			!function(e,a,t){var r,n,o,i,p=a.createElement("canvas"),s=p.getContext&&p.getContext("2d");function c(e,t){var a=String.fromCharCode;s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,e),0,0);var r=p.toDataURL();return s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,t),0,0),r===p.toDataURL()}function l(e){if(!s||!s.fillText)return!1;switch(s.textBaseline="top",s.font="600 32px Arial",e){case"flag":return!c([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])&&(!c([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!c([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]));case"emoji":return!c([55357,56424,55356,57342,8205,55358,56605,8205,55357,56424,55356,57340],[55357,56424,55356,57342,8203,55358,56605,8203,55357,56424,55356,57340])}return!1}function d(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(i=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},o=0;o<i.length;o++)t.supports[i[o]]=l(i[o]),t.supports.everything=t.supports.everything&&t.supports[i[o]],"flag"!==i[o]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[i[o]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(r=t.source||{}).concatemoji?d(r.concatemoji):r.wpemoji&&r.twemoji&&(d(r.twemoji),d(r.wpemoji)))}(window,document,window._wpemojiSettings);
        </script>
        <script src="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-includes/js/wp-emoji-release.min.js?ver=5.3.2" type="text/javascript" defer=""></script>
        <style type="text/css">
            img.wp-smiley,
            img.emoji {
                display: inline !important;
                border: none !important;
                box-shadow: none !important;
                height: 1em !important;
                width: 1em !important;
                margin: 0 .07em !important;
                vertical-align: -0.1em !important;
                background: none !important;
                padding: 0 !important;
            }
        </style>
        <link rel="stylesheet" id="jevelin-settings-css" href="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-content/plugins/shufflehound-showcase-framework/style.css?ver=5.3.2" type="text/css" media="all">
        <link rel="stylesheet" id="wp-block-library-css" href="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-includes/css/dist/block-library/style.min.css?ver=5.3.2" type="text/css" media="all">
        <link rel="stylesheet" id="wc-block-style-css" href="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/style.css?ver=2.4.5" type="text/css" media="all">
        <link rel="stylesheet" id="contact-form-7-css" href="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.1.6" type="text/css" media="all">
        <link rel="stylesheet" id="rs-plugin-settings-css" href="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-content/plugins/revslider/public/assets/css/rs6.css?ver=6.1.5" type="text/css" media="all">
        <style id="rs-plugin-settings-inline-css" type="text/css">
            #rs-demo-id {
            }
        </style>
        <link rel="stylesheet" id="woocommerce-layout-css" href="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css?ver=3.8.1" type="text/css" media="all">
        <link rel="stylesheet" id="woocommerce-smallscreen-css" href="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css?ver=3.8.1" type="text/css" media="only screen and (max-width: 768px)">
        <link rel="stylesheet" id="woocommerce-general-css" href="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-content/plugins/woocommerce/assets/css/woocommerce.css?ver=3.8.1" type="text/css" media="all">
        <style id="woocommerce-inline-inline-css" type="text/css">
            .woocommerce form .form-row .required {
                visibility: visible;
            }
        </style>
        <link rel="stylesheet" id="fw-ext-builder-frontend-grid-css" href="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-content/plugins/unyson/framework/extensions/builder/static/css/frontend-grid.css?ver=1.2.11" type="text/css" media="all">
        <link rel="stylesheet" id="fw-ext-forms-default-styles-css" href="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-content/plugins/unyson/framework/extensions/forms/static/css/frontend.css?ver=2.7.22" type="text/css" media="all">
        <link rel="stylesheet" id="font-awesome-css" href="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-content/plugins/unyson/framework/static/libs/font-awesome/css/font-awesome.min.css?ver=2.7.22" type="text/css" media="all">
        <link rel="stylesheet" id="js_composer_front-css" href="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-content/plugins/js_composer/assets/css/js_composer.min.css?ver=6.1" type="text/css" media="all">
        <link rel="stylesheet" id="bootstrap-css" href="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-content/themes/jevelin/css/plugins/bootstrap.min.css?ver=3.3.4" type="text/css" media="all">
        <link rel="stylesheet" id="jevelin-plugins-css" href="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-content/themes/jevelin/css/plugins.css?ver=5.3.2" type="text/css" media="all">
        <link rel="stylesheet" id="jevelin-shortcodes-css" href="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-content/themes/jevelin/css/shortcodes.css?ver=5.3.2" type="text/css" media="all">
        <link rel="stylesheet" id="jevelin-styles-css" href="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-content/themes/jevelin/style.css?ver=5.3.2" type="text/css" media="all">
        <link rel="stylesheet" id="jevelin-responsive-css" href="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-content/themes/jevelin/css/responsive.css?ver=5.3.2" type="text/css" media="all">
        <style id="jevelin-responsive-inline-css" type="text/css">
            .cf7-required:after, .woocommerce ul.products li.product a h3:hover, .woocommerce ul.products li.product ins, .post-title h2:hover, .sh-team:hover .sh-team-role, .sh-team-style4 .sh-team-role, .sh-team-style4 .sh-team-icon:hover i, .sh-header-search-submit, .woocommerce .woocommerce-tabs li.active a, .woocommerce .required, .sh-recent-products .woocommerce .star-rating span::before, .woocommerce .woocomerce-styling .star-rating span::before, .woocommerce div.product p.price, .woocomerce-styling li.product .amount, .post-format-icon, .sh-accent-color, .sh-blog-tag-item:hover h6, ul.page-numbers a:hover, .sh-portfolio-single-info-item i, .sh-filter-item.active, .sh-filter-item:hover, .sh-nav .sh-nav-cart li.menu-item-cart .mini_cart_item .amount, .sh-pricing-button-style3, #sidebar a:not(.sh-social-widgets-item):hover, .logged-in-as a:hover, .woocommerce table.shop_table.cart a:hover, .wrap-forms sup:before, .sh-comment-date a:hover, .reply a.comment-edit-link, .comment-respond #cancel-comment-reply-link, .sh-portfolio-title:hover, .sh-portfolio-single-related-mini h5:hover, .sh-header-top-10 .header-contacts-details-large-icon i, .sh-unyson-frontend-test.active {
                color: #294cff !important;
            }

            .woocommerce p.stars.selected a:not(.active), .woocommerce p.stars.selected a.active, .sh-dropcaps-full-square, .sh-dropcaps-full-square-border, .masonry2 .post-content-container a.post-meta-comments:hover, .sh-header-builder-edit:hover {
                background-color: #294cff;
            }

            .contact-form input[type="submit"], .sh-back-to-top:hover, .sh-dropcaps-full-square-tale, .sh-404-button, .woocommerce .wc-forward, .woocommerce .checkout-button, .woocommerce div.product form.cart button, .woocommerce .button:not(.add_to_cart_button), .sh-blog-tag-item, .sh-comments .submit, .sh-sidebar-search-active .search-field, .sh-nav .sh-nav-cart .buttons a.checkout, ul.page-numbers .current, ul.page-numbers .current:hover, .post-background, .post-item .post-category .post-category-list, .cart-icon span, .comment-input-required, .widget_tag_cloud a:hover, .widget_product_tag_cloud a:hover, .woocommerce #respond input#submit, .sh-portfolio-overlay1-bar, .sh-pricing-button-style4, .sh-pricing-button-style11, .sh-revslider-button2, .sh-portfolio-default2 .sh-portfolio-title, .sh-recent-posts-widgets-count, .sh-filter-item.active:after, .blog-style-largedate .post-comments, .sh-video-player-style1 .sh-video-player-image-play, .sh-video-player-style2 .sh-video-player-image-play:hover, .sh-video-player-style2 .sh-video-player-image-play:focus, .woocommerce .woocommerce-tabs li a:after, .sh-image-gallery .slick-dots li.slick-active button, .sh-recent-posts-carousel .slick-dots li.slick-active button, .sh-recent-products-carousel .slick-dots li.slick-active button, .sh-settings-container-bar .sh-progress-status-value, .post-password-form input[type="submit"], .wpcf7-form .wpcf7-submit, .sh-portfolio-filter-style3 .sh-filter-item.active .sh-filter-item-content, .sh-portfolio-filter-style4 .sh-filter-item:hover .sh-filter-item-content, .sh-woocommerce-categories-count, .sh-woocommerce-products-style2 .woocommerce ul.products li.product .add_to_cart_button:hover, .woocomerce-styling.sh-woocommerce-products-style2 ul.products li.product .add_to_cart_button:hover, .sh-icon-group-style2 .sh-icon-group-item:hover, .sh-text-background {
                background-color: #294cff !important;
            }

            .sh-cf7-style4 form input:not(.wpcf7-submit):focus {
                border-bottom-color: #294cff;
            }

            ::selection {
                background-color: #294cff !important;
                color: #fff;
            }

            ::-moz-selection {
                background-color: #294cff !important;
                color: #fff;
            }

            .woocommerce .woocommerce-tabs li.active a, /*.sh-header-8 .sh-nav > .current-menu-item a*/ {
                border-bottom-color: #294cff !important;
            }

            #header-quote, .sh-dropcaps-full-square-tale:after, .sh-blog-tag-item:after, .widget_tag_cloud a:hover:after, .widget_product_tag_cloud a:hover:after {
                border-left-color: #294cff !important;
            }

            .cart-icon .cart-icon-triangle-color {
                border-right-color: #294cff !important;
            }

            .sh-back-to-top:hover, .widget_price_filter .ui-slider .ui-slider-handle, .sh-sidebar-search-active .search-field:hover, .sh-sidebar-search-active .search-field:focus, .sh-cf7-style2 form p input:not(.wpcf7-submit):focus, .sh-cf7-style2 form p textarea:focus {
                border-color: #294cff !important;
            }

            .post-item .post-category .arrow-right {
                border-left-color: #294cff;
            }

            .woocommerce .wc-forward:hover, .woocommerce .button:not(.add_to_cart_button):hover, .woocommerce .checkout-button:hover, .woocommerce #respond input#submit:hover, .contact-form input[type="submit"]:hover, .wpcf7-form .wpcf7-submit:hover, .sh-video-player-image-play:hover, .sh-404-button:hover, .post-password-form input[type="submit"], .sh-pricing-button-style11:hover, .sh-revslider-button2.spacing-animation:not(.inverted):hover {
                background-color: #5470ff !important;
            }

            .sh-cf7-unyson form .wpcf7-submit {
                background-size: 200% auto;
                background-image: linear-gradient(to right, #294cff, #5470ff, #5470ff);
            }

            .sh-mini-overlay-container, .sh-portfolio-overlay-info-box, .sh-portfolio-overlay-bottom .sh-portfolio-icon, .sh-portfolio-overlay-bottom .sh-portfolio-text, .sh-portfolio-overlay2-bar, .sh-portfolio-overlay2-data, .sh-portfolio-overlay3-data {
                background-color: rgba(41,76,255,0.75) !important;
            }

            .widget_price_filter .ui-slider .ui-slider-range {
                background-color: rgba(41,76,255,0.5) !important;
            }

            .sh-team-social-overlay2 .sh-team-image:hover .sh-team-overlay2, .sh-overlay-style1, .sh-portfolio-overlay4 {
                background-color: rgba(41,76,255,0.8) !important;
            }

            .sh-header .sh-nav > .current_page_item > a, .sh-header .sh-nav > .current-menu-ancestor > a, .sh-header-left-side .sh-nav > .current_page_item > a {
                color: #ff6d3c !important;
            }

            .sh-popover-mini:not(.sh-popover-mini-dark) {
                background-color: #294cff;
            }

                .sh-popover-mini:not(.sh-popover-mini-dark):before {
                    border-color: transparent transparent #294cff #294cff !important;
                }

            .sh-footer .sh-footer-widgets a:hover, .sh-footer .sh-footer-widgets li a:hover, .sh-footer .sh-footer-widgets h6:hover {
                color: #f62433;
            }
        </style>
        <link rel="stylesheet" id="jevelin-ie-css" href="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-content/themes/jevelin/css/ie.css?ver=5.3.2" type="text/css" media="all">
        <link rel="stylesheet" id="jevelin-theme-settings-css" href="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/33/jevelin-dynamic-styles.css?ver=580326047" type="text/css" media="all">
        <link rel="stylesheet" id="jevelin-fonts-css" href="https://fonts.googleapis.com/css?family=Montserrat:200,300,300i,400,400i,600,600i,700,700i,|Raleway:200,300,300i,400,400i,600,600i,700,700i,&amp;subset=latin" type="text/css" media="all">
        <script type="text/javascript" src="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp"></script>
        <script type="text/javascript" src="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1"></script>
        <script type="text/javascript" src="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-content/plugins/revslider/public/assets/js/revolution.tools.min.js?ver=6.0"></script>
        <script type="text/javascript" src="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-content/plugins/revslider/public/assets/js/rs6.min.js?ver=6.1.5"></script>
        <script type="text/javascript" src="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70"></script>
        <script type="text/javascript">
/* <![CDATA[ */
var wc_add_to_cart_params = {"ajax_url":"\/portfolio-minimalistic\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/portfolio-minimalistic\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"https:\/\/jevelin.shufflehound.com\/portfolio-minimalistic","is_cart":"","cart_redirect_after_add":"no"};
/* ]]> */
        </script>
        <script type="text/javascript" src="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=3.8.1"></script>
        <script type="text/javascript" src="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-content/plugins/js_composer/assets/js/vendors/woocommerce-add-to-cart.js?ver=6.1"></script>
        <script type="text/javascript" src="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-content/themes/jevelin/js/plugins.js?ver=5.3.2"></script>
        <script type="text/javascript">
/* <![CDATA[ */
var jevelin_loadmore_posts = {"ajax_url":"https:\/\/jevelin.shufflehound.com\/portfolio-minimalistic\/wp-admin\/admin-ajax.php"};
var jevelin = {"page_loader":"0","notice":"","header_animation_dropdown_delay":"1000","header_animation_dropdown":"easeOutQuint","header_animation_dropdown_speed":"300","lightbox_opacity":"0.88","lightbox_transition":"elastic","lightbox_window_max_width":"1200","lightbox_window_max_height":"1200","lightbox_window_size":"0.8","page_numbers_prev":"Previous","page_numbers_next":"Next","rtl_support":"","footer_parallax":"","one_pager":"1","wc_lightbox":"jevelin","quantity_button":"on"};
/* ]]> */
        </script>
        <script type="text/javascript" src="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-content/themes/jevelin/js/scripts.js?ver=5.3.2"></script>
        <link rel="https://api.w.org/" href="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-json/">
        <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://jevelin.shufflehound.com/portfolio-minimalistic/xmlrpc.php?rsd">
        <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-includes/wlwmanifest.xml">
        <meta name="generator" content="WordPress 5.3.2">
        <meta name="generator" content="WooCommerce 3.8.1">
        <link rel="canonical" href="https://jevelin.shufflehound.com/portfolio-minimalistic/">
        <link rel="shortlink" href="https://jevelin.shufflehound.com/portfolio-minimalistic/">
        <link rel="alternate" type="application/json+oembed" href="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fjevelin.shufflehound.com%2Fportfolio-minimalistic%2F">
        <link rel="alternate" type="text/xml+oembed" href="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fjevelin.shufflehound.com%2Fportfolio-minimalistic%2F&amp;format=xml">
        <link rel="icon" type="image/png" href="/fav.png">

        <meta name="description" content="Jevelin is multi-purpose WordPress theme for creating stunning websites. Features all the right tools needed for your next design.">
        <meta name="keywords" content="agency, blog, business, corporate, creative, fitness, flat, modern, portfolio, responsive, shufflehound, startup, theme, wedding, wordpress, jevelin, multi-purpose, theme, themes">

        <!-- Google Analytics -->
        <script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-57154054-2', 'auto');
			ga('send', 'pageview');
        </script>
        <!-- Google Analytics -->

        <style type="text/css">
            body {
                overflow: hidden;
            }

            .sh-page-loader {
                background-color: #ffffff;
            }

            .sk-cube-grid .sk-cube,
            .sk-folding-cube .sk-cube:before,
            .sk-spinner > div,
            .sh-page-loader-style-spinner .object {
                background-color: #294cff !important;
            }
        </style>

        <noscript>
        <style>
            .woocommerce-product-gallery {
                opacity: 1 !important;
            }
        </style></noscript>
        <meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress.">
        <meta name="generator" content="Powered by Slider Revolution 6.1.5 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface.">
        <script type="text/javascript">function setREVStartSize(t){try{var h,e=document.getElementById(t.c).parentNode.offsetWidth;if(e=0===e||isNaN(e)?window.innerWidth:e,t.tabw=void 0===t.tabw?0:parseInt(t.tabw),t.thumbw=void 0===t.thumbw?0:parseInt(t.thumbw),t.tabh=void 0===t.tabh?0:parseInt(t.tabh),t.thumbh=void 0===t.thumbh?0:parseInt(t.thumbh),t.tabhide=void 0===t.tabhide?0:parseInt(t.tabhide),t.thumbhide=void 0===t.thumbhide?0:parseInt(t.thumbhide),t.mh=void 0===t.mh||""==t.mh||"auto"===t.mh?0:parseInt(t.mh,0),"fullscreen"===t.layout||"fullscreen"===t.l)h=Math.max(t.mh,window.innerHeight);else{for(var i in t.gw=Array.isArray(t.gw)?t.gw:[t.gw],t.rl)void 0!==t.gw[i]&&0!==t.gw[i]||(t.gw[i]=t.gw[i-1]);for(var i in t.gh=void 0===t.el||""===t.el||Array.isArray(t.el)&&0==t.el.length?t.gh:t.el,t.gh=Array.isArray(t.gh)?t.gh:[t.gh],t.rl)void 0!==t.gh[i]&&0!==t.gh[i]||(t.gh[i]=t.gh[i-1]);var r,a=new Array(t.rl.length),n=0;for(var i in t.tabw=t.tabhide>=e?0:t.tabw,t.thumbw=t.thumbhide>=e?0:t.thumbw,t.tabh=t.tabhide>=e?0:t.tabh,t.thumbh=t.thumbhide>=e?0:t.thumbh,t.rl)a[i]=t.rl[i]<window.innerWidth?0:t.rl[i];for(var i in r=a[0],a)r>a[i]&&0<a[i]&&(r=a[i],n=i);var d=e>t.gw[n]+t.tabw+t.thumbw?1:(e-(t.tabw+t.thumbw))/t.gw[n];h=t.gh[n]*d+(t.tabh+t.thumbh)}void 0===window.rs_init_css&&(window.rs_init_css=document.head.appendChild(document.createElement("style"))),document.getElementById(t.c).height=h,window.rs_init_css.innerHTML+="#"+t.c+"_wrapper { height: "+h+"px }"}catch(t){console.log("Failure at Presize of Slider:"+t)}};</script>
        <style type="text/css" data-type="vc_shortcodes-custom-css">
            .vc_custom_1571430172334 {
                padding-top: 150px !important;
                padding-bottom: 100px !important;
            }

            .vc_custom_1572355673198 {
                padding-bottom: 100px !important;
            }

            .vc_custom_1572432201738 {
                padding-top: 60px !important;
                padding-bottom: 120px !important;
            }
        </style>
        <noscript>
        <style>
            .wpb_animate_when_almost_visible {
                opacity: 1;
            }
        </style></noscript>





        <div id="page-container" class="">










            <div id="wrapper">


                <div class="content-container">
                    <div class="container entry-content">



                        <div id="content" class="page-content  page-default-content">



                            <div class="vc_row wpb_row vc_row-fluid vc_custom_1571430172334 vc_row_914744751">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper" style="width: 100%; max-width: 580px;margin-left: 0; margin-right: auto;">
                                            <div class="sh-heading  " id="heading-DyeojMOlC6">
                                                <div class="sh-element-margin">


                                                </div>
                                            </div>
                                            <style type="text/css">
                                                #heading-DyeojMOlC6 .sh-element-margin {
                                                }

                                                #heading-DyeojMOlC6 .sh-heading-content {
                                                    font-size: 20px;
                                                    font-weight: 600 !important;
                                                    color: #294cff;
                                                }

                                                #heading-DyeojMOlC6 .sh-heading-content, #heading-DyeojMOlC6 .sh-heading-additional-text {
                                                }
                                            </style>


                                            <div class="sh-empty-space vc_empty_space sh-empty-space-zTM92LtEwQ  " style="height: 32px">
                                                <span class="vc_empty_space_inner"></span>
                                            </div>


                                            <div class="sh-heading  " id="heading-WTqDuZveLF">
                                                <div class="sh-element-margin">


                                                    <h2 class="sh-heading-content size-custom text-left">
                                                        @NigmaTriesThing.Controllers.HomeController.fortnite
                                                    </h2>

                                                    <span></span>
                                                    <h1>Projekter: </h1>

                                                </div>
                                            </div>
                                            </div>
                                    </div>
                                </div>
                            </div><div class="vc_row wpb_row vc_row-fluid vc_custom_1572355673198 vc_row_1365244098">
                                <div class="wpb_column vc_column_container vc_col-sm-12 vc_column_63953026">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">





                                            <div id="portfolio-fancy-6JARKnIUTw" class="sh-portfolio-fancy sh-portfolio-fancy-columns3" style="position: relative; height: 1986.01px;">


                                                <div class="sh-portfolio-fancy-item category-graphic-design sh-portfolio-fancy-item-active" id="portfolio-709" style="position: absolute; left: 0px; top: 0px;">
                                                    <div class="sh-portfolio-fancy-itemc-container">

                                                        <img class="sh-portfolio-img" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/33/2019/04/15essentialiving-8bEUB1cOKwA-unsplash1-420x660.jpg" alt="">

                                                        <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/project/notebooks/" class="sh-portfolio-fancy-item-overlay-bg"></a>
                                                        <div class="sh-portfolio-fancy-item-overlay">
                                                            <div class="sh-portfolio-fancy-item-overlay-container">
                                                                <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/project/notebooks/" class="sh-portfolio-fancy-item-overlay-title">
                                                                    <h3>Notebooks</h3>
                                                                </a>
                                                                <div class="sh-portfolio-fancy-item-overlay-categories">
                                                                    <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/portfolio/graphic-design/" class="sh-portfolio-category sh-heading-font">Graphic design</a>
                                                                </div>
                                                                <a href="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/33/2019/04/15essentialiving-8bEUB1cOKwA-unsplash1-420x660.jpg" data-rel="lightcase:portfolio6JARKnIUTw" class="sh-portfolio-fancy-item-overlay-lightbox">
                                                                    <i class="icon icon-size-fullscreen"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="sh-portfolio-fancy-item category-art sh-portfolio-fancy-item-active" id="portfolio-661" style="position: absolute; left: 256px; top: 0px;">
                                                    <div class="sh-portfolio-fancy-itemc-container">

                                                        <img class="sh-portfolio-img" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/33/2019/04/14essentialiving-8bEUB1cOKwA-unsplash1-420x660.jpg" alt="">

                                                        <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/project/abstract-2/" class="sh-portfolio-fancy-item-overlay-bg"></a>
                                                        <div class="sh-portfolio-fancy-item-overlay">
                                                            <div class="sh-portfolio-fancy-item-overlay-container">
                                                                <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/project/abstract-2/" class="sh-portfolio-fancy-item-overlay-title">
                                                                    <h3>Abstract</h3>
                                                                </a>
                                                                <div class="sh-portfolio-fancy-item-overlay-categories">
                                                                    <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/portfolio/art/" class="sh-portfolio-category sh-heading-font">Art</a>
                                                                </div>
                                                                <a href="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/33/2019/04/14essentialiving-8bEUB1cOKwA-unsplash1-420x660.jpg" data-rel="lightcase:portfolio6JARKnIUTw" class="sh-portfolio-fancy-item-overlay-lightbox">
                                                                    <i class="icon icon-size-fullscreen"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="sh-portfolio-fancy-item category-offices sh-portfolio-fancy-item-active" id="portfolio-654" style="position: absolute; left: 512px; top: 0px;">
                                                    <div class="sh-portfolio-fancy-itemc-container">

                                                        <img class="sh-portfolio-img" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/33/2019/04/13essentialiving-8bEUB1cOKwA-unsplash1-420x660.jpg" alt="">

                                                        <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/project/central-offices/" class="sh-portfolio-fancy-item-overlay-bg"></a>
                                                        <div class="sh-portfolio-fancy-item-overlay">
                                                            <div class="sh-portfolio-fancy-item-overlay-container">
                                                                <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/project/central-offices/" class="sh-portfolio-fancy-item-overlay-title">
                                                                    <h3>Central offices</h3>
                                                                </a>
                                                                <div class="sh-portfolio-fancy-item-overlay-categories">
                                                                    <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/portfolio/offices/" class="sh-portfolio-category sh-heading-font">Offices</a>
                                                                </div>
                                                                <a href="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/33/2019/04/13essentialiving-8bEUB1cOKwA-unsplash1-420x660.jpg" data-rel="lightcase:portfolio6JARKnIUTw" class="sh-portfolio-fancy-item-overlay-lightbox">
                                                                    <i class="icon icon-size-fullscreen"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="sh-portfolio-fancy-item category-offices sh-portfolio-fancy-item-active" id="portfolio-653" style="position: absolute; left: 0px; top: 397px;">
                                                    <div class="sh-portfolio-fancy-itemc-container">

                                                        <img class="sh-portfolio-img" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/33/2019/04/12essentialiving-8bEUB1cOKwA-unsplash1-420x660.jpg" alt="">

                                                        <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/project/square-feet/" class="sh-portfolio-fancy-item-overlay-bg"></a>
                                                        <div class="sh-portfolio-fancy-item-overlay">
                                                            <div class="sh-portfolio-fancy-item-overlay-container">
                                                                <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/project/square-feet/" class="sh-portfolio-fancy-item-overlay-title">
                                                                    <h3>Square feet</h3>
                                                                </a>
                                                                <div class="sh-portfolio-fancy-item-overlay-categories">
                                                                    <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/portfolio/offices/" class="sh-portfolio-category sh-heading-font">Offices</a>
                                                                </div>
                                                                <a href="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/33/2019/04/12essentialiving-8bEUB1cOKwA-unsplash1-420x660.jpg" data-rel="lightcase:portfolio6JARKnIUTw" class="sh-portfolio-fancy-item-overlay-lightbox">
                                                                    <i class="icon icon-size-fullscreen"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="sh-portfolio-fancy-item category-packaging sh-portfolio-fancy-item-active" id="portfolio-666" style="position: absolute; left: 256px; top: 397px;">
                                                    <div class="sh-portfolio-fancy-itemc-container">

                                                        <img class="sh-portfolio-img" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/33/2019/04/11essentialiving-8bEUB1cOKwA-unsplash1-420x660.jpg" alt="">

                                                        <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/project/golden-barn/" class="sh-portfolio-fancy-item-overlay-bg"></a>
                                                        <div class="sh-portfolio-fancy-item-overlay">
                                                            <div class="sh-portfolio-fancy-item-overlay-container">
                                                                <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/project/golden-barn/" class="sh-portfolio-fancy-item-overlay-title">
                                                                    <h3>Golden barn</h3>
                                                                </a>
                                                                <div class="sh-portfolio-fancy-item-overlay-categories">
                                                                    <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/portfolio/packaging/" class="sh-portfolio-category sh-heading-font">Packaging</a>
                                                                </div>
                                                                <a href="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/33/2019/04/11essentialiving-8bEUB1cOKwA-unsplash1-420x660.jpg" data-rel="lightcase:portfolio6JARKnIUTw" class="sh-portfolio-fancy-item-overlay-lightbox">
                                                                    <i class="icon icon-size-fullscreen"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="sh-portfolio-fancy-item category-hard-press sh-portfolio-fancy-item-active" id="portfolio-652" style="position: absolute; left: 512px; top: 397px;">
                                                    <div class="sh-portfolio-fancy-itemc-container">

                                                        <img class="sh-portfolio-img" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/33/2019/04/10essentialiving-8bEUB1cOKwA-unsplash1-420x660.jpg" alt="">

                                                        <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/project/dining-dishes/" class="sh-portfolio-fancy-item-overlay-bg"></a>
                                                        <div class="sh-portfolio-fancy-item-overlay">
                                                            <div class="sh-portfolio-fancy-item-overlay-container">
                                                                <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/project/dining-dishes/" class="sh-portfolio-fancy-item-overlay-title">
                                                                    <h3>Dining dishes</h3>
                                                                </a>
                                                                <div class="sh-portfolio-fancy-item-overlay-categories">
                                                                    <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/portfolio/hard-press/" class="sh-portfolio-category sh-heading-font">Hard press</a>
                                                                </div>
                                                                <a href="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/33/2019/04/10essentialiving-8bEUB1cOKwA-unsplash1-420x660.jpg" data-rel="lightcase:portfolio6JARKnIUTw" class="sh-portfolio-fancy-item-overlay-lightbox">
                                                                    <i class="icon icon-size-fullscreen"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="sh-portfolio-fancy-item category-shopping sh-portfolio-fancy-item-active" id="portfolio-647" style="position: absolute; left: 0px; top: 794px;">
                                                    <div class="sh-portfolio-fancy-itemc-container">

                                                        <img class="sh-portfolio-img" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/33/2019/04/9essentialiving-8bEUB1cOKwA-unsplash1-420x660.jpg" alt="">

                                                        <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/project/sunset-valley/" class="sh-portfolio-fancy-item-overlay-bg"></a>
                                                        <div class="sh-portfolio-fancy-item-overlay">
                                                            <div class="sh-portfolio-fancy-item-overlay-container">
                                                                <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/project/sunset-valley/" class="sh-portfolio-fancy-item-overlay-title">
                                                                    <h3>Sunset valley</h3>
                                                                </a>
                                                                <div class="sh-portfolio-fancy-item-overlay-categories">
                                                                    <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/portfolio/shopping/" class="sh-portfolio-category sh-heading-font">Shopping</a>
                                                                </div>
                                                                <a href="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/33/2019/04/9essentialiving-8bEUB1cOKwA-unsplash1-420x660.jpg" data-rel="lightcase:portfolio6JARKnIUTw" class="sh-portfolio-fancy-item-overlay-lightbox">
                                                                    <i class="icon icon-size-fullscreen"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="sh-portfolio-fancy-item category-offices sh-portfolio-fancy-item-active" id="portfolio-646" style="position: absolute; left: 256px; top: 794px;">
                                                    <div class="sh-portfolio-fancy-itemc-container">

                                                        <img class="sh-portfolio-img" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/33/2019/04/8essentialiving-8bEUB1cOKwA-unsplash1-420x660.jpg" alt="">

                                                        <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/project/abstract/" class="sh-portfolio-fancy-item-overlay-bg"></a>
                                                        <div class="sh-portfolio-fancy-item-overlay">
                                                            <div class="sh-portfolio-fancy-item-overlay-container">
                                                                <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/project/abstract/" class="sh-portfolio-fancy-item-overlay-title">
                                                                    <h3>Abstract</h3>
                                                                </a>
                                                                <div class="sh-portfolio-fancy-item-overlay-categories">
                                                                    <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/portfolio/offices/" class="sh-portfolio-category sh-heading-font">Offices</a>
                                                                </div>
                                                                <a href="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/33/2019/04/8essentialiving-8bEUB1cOKwA-unsplash1-420x660.jpg" data-rel="lightcase:portfolio6JARKnIUTw" class="sh-portfolio-fancy-item-overlay-lightbox">
                                                                    <i class="icon icon-size-fullscreen"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="sh-portfolio-fancy-item category-art sh-portfolio-fancy-item-active" id="portfolio-645" style="position: absolute; left: 512px; top: 794px;">
                                                    <div class="sh-portfolio-fancy-itemc-container">

                                                        <img class="sh-portfolio-img" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/33/2019/04/7essentialiving-8bEUB1cOKwA-unsplash1-420x660.jpg" alt="">

                                                        <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/project/vanilla-sky/" class="sh-portfolio-fancy-item-overlay-bg"></a>
                                                        <div class="sh-portfolio-fancy-item-overlay">
                                                            <div class="sh-portfolio-fancy-item-overlay-container">
                                                                <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/project/vanilla-sky/" class="sh-portfolio-fancy-item-overlay-title">
                                                                    <h3>Vanilla sky</h3>
                                                                </a>
                                                                <div class="sh-portfolio-fancy-item-overlay-categories">
                                                                    <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/portfolio/art/" class="sh-portfolio-category sh-heading-font">Art</a>
                                                                </div>
                                                                <a href="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/33/2019/04/7essentialiving-8bEUB1cOKwA-unsplash1-420x660.jpg" data-rel="lightcase:portfolio6JARKnIUTw" class="sh-portfolio-fancy-item-overlay-lightbox">
                                                                    <i class="icon icon-size-fullscreen"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="sh-portfolio-fancy-item category-shopping sh-portfolio-fancy-item-active" id="portfolio-643" style="position: absolute; left: 0px; top: 1191px;">
                                                    <div class="sh-portfolio-fancy-itemc-container">

                                                        <img class="sh-portfolio-img" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/33/2019/04/6essentialiving-8bEUB1cOKwA-unsplash1-420x660.jpg" alt="">

                                                        <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/project/peach-cutlery/" class="sh-portfolio-fancy-item-overlay-bg"></a>
                                                        <div class="sh-portfolio-fancy-item-overlay">
                                                            <div class="sh-portfolio-fancy-item-overlay-container">
                                                                <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/project/peach-cutlery/" class="sh-portfolio-fancy-item-overlay-title">
                                                                    <h3>Peach cutlery</h3>
                                                                </a>
                                                                <div class="sh-portfolio-fancy-item-overlay-categories">
                                                                    <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/portfolio/shopping/" class="sh-portfolio-category sh-heading-font">Shopping</a>
                                                                </div>
                                                                <a href="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/33/2019/04/6essentialiving-8bEUB1cOKwA-unsplash1-420x660.jpg" data-rel="lightcase:portfolio6JARKnIUTw" class="sh-portfolio-fancy-item-overlay-lightbox">
                                                                    <i class="icon icon-size-fullscreen"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="sh-portfolio-fancy-item category-shopping sh-portfolio-fancy-item-active" id="portfolio-642" style="position: absolute; left: 256px; top: 1191px;">
                                                    <div class="sh-portfolio-fancy-itemc-container">

                                                        <img class="sh-portfolio-img" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/33/2019/04/5essentialiving-8bEUB1cOKwA-unsplash1-420x660.jpg" alt="">

                                                        <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/project/shark-central/" class="sh-portfolio-fancy-item-overlay-bg"></a>
                                                        <div class="sh-portfolio-fancy-item-overlay">
                                                            <div class="sh-portfolio-fancy-item-overlay-container">
                                                                <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/project/shark-central/" class="sh-portfolio-fancy-item-overlay-title">
                                                                    <h3>Shark central</h3>
                                                                </a>
                                                                <div class="sh-portfolio-fancy-item-overlay-categories">
                                                                    <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/portfolio/shopping/" class="sh-portfolio-category sh-heading-font">Shopping</a>
                                                                </div>
                                                                <a href="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/33/2019/04/5essentialiving-8bEUB1cOKwA-unsplash1-420x660.jpg" data-rel="lightcase:portfolio6JARKnIUTw" class="sh-portfolio-fancy-item-overlay-lightbox">
                                                                    <i class="icon icon-size-fullscreen"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="sh-portfolio-fancy-item category-offices sh-portfolio-fancy-item-active" id="portfolio-174" style="position: absolute; left: 512px; top: 1191px;">
                                                    <div class="sh-portfolio-fancy-itemc-container">

                                                        <img class="sh-portfolio-img" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/33/2019/04/4essentialiving-8bEUB1cOKwA-unsplash1-420x660.jpg" alt="">

                                                        <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/project/counter-top/" class="sh-portfolio-fancy-item-overlay-bg"></a>
                                                        <div class="sh-portfolio-fancy-item-overlay">
                                                            <div class="sh-portfolio-fancy-item-overlay-container">
                                                                <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/project/counter-top/" class="sh-portfolio-fancy-item-overlay-title">
                                                                    <h3>Counter top</h3>
                                                                </a>
                                                                <div class="sh-portfolio-fancy-item-overlay-categories">
                                                                    <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/portfolio/offices/" class="sh-portfolio-category sh-heading-font">Offices</a>
                                                                </div>
                                                                <a href="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/33/2019/04/4essentialiving-8bEUB1cOKwA-unsplash1-420x660.jpg" data-rel="lightcase:portfolio6JARKnIUTw" class="sh-portfolio-fancy-item-overlay-lightbox">
                                                                    <i class="icon icon-size-fullscreen"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="sh-portfolio-fancy-item category-art sh-portfolio-fancy-item-active" id="portfolio-747" style="position: absolute; left: 0px; top: 1588px;">
                                                    <div class="sh-portfolio-fancy-itemc-container">

                                                        <img class="sh-portfolio-img" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/33/2019/04/3essentialiving-8bEUB1cOKwA-unsplash1-420x660.jpg" alt="">

                                                        <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/project/glass-wall/" class="sh-portfolio-fancy-item-overlay-bg"></a>
                                                        <div class="sh-portfolio-fancy-item-overlay">
                                                            <div class="sh-portfolio-fancy-item-overlay-container">
                                                                <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/project/glass-wall/" class="sh-portfolio-fancy-item-overlay-title">
                                                                    <h3>Glass wall</h3>
                                                                </a>
                                                                <div class="sh-portfolio-fancy-item-overlay-categories">
                                                                    <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/portfolio/art/" class="sh-portfolio-category sh-heading-font">Art</a>
                                                                </div>
                                                                <a href="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/33/2019/04/3essentialiving-8bEUB1cOKwA-unsplash1-420x660.jpg" data-rel="lightcase:portfolio6JARKnIUTw" class="sh-portfolio-fancy-item-overlay-lightbox">
                                                                    <i class="icon icon-size-fullscreen"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="sh-portfolio-fancy-item category-shopping sh-portfolio-fancy-item-active" id="portfolio-748" style="position: absolute; left: 256px; top: 1588px;">
                                                    <div class="sh-portfolio-fancy-itemc-container">

                                                        <img class="sh-portfolio-img" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/33/2019/04/2essentialiving-8bEUB1cOKwA-unsplash1-420x660.jpg" alt="">

                                                        <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/project/vanilla-shopping/" class="sh-portfolio-fancy-item-overlay-bg"></a>
                                                        <div class="sh-portfolio-fancy-item-overlay">
                                                            <div class="sh-portfolio-fancy-item-overlay-container">
                                                                <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/project/vanilla-shopping/" class="sh-portfolio-fancy-item-overlay-title">
                                                                    <h3>Vanilla shopping</h3>
                                                                </a>
                                                                <div class="sh-portfolio-fancy-item-overlay-categories">
                                                                    <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/portfolio/shopping/" class="sh-portfolio-category sh-heading-font">Shopping</a>
                                                                </div>
                                                                <a href="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/33/2019/04/2essentialiving-8bEUB1cOKwA-unsplash1-420x660.jpg" data-rel="lightcase:portfolio6JARKnIUTw" class="sh-portfolio-fancy-item-overlay-lightbox">
                                                                    <i class="icon icon-size-fullscreen"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="sh-portfolio-fancy-item category-offices sh-portfolio-fancy-item-active" id="portfolio-749" style="position: absolute; left: 512px; top: 1588px;">
                                                    <div class="sh-portfolio-fancy-itemc-container">

                                                        <img class="sh-portfolio-img" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/33/2019/04/1essentialiving-8bEUB1cOKwA-unsplash1-420x660.jpg" alt="">

                                                        <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/project/residence-01/" class="sh-portfolio-fancy-item-overlay-bg"></a>
                                                        <div class="sh-portfolio-fancy-item-overlay">
                                                            <div class="sh-portfolio-fancy-item-overlay-container">
                                                                <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/project/residence-01/" class="sh-portfolio-fancy-item-overlay-title">
                                                                    <h3>Residence 01</h3>
                                                                </a>
                                                                <div class="sh-portfolio-fancy-item-overlay-categories">
                                                                    <a href="https://jevelin.shufflehound.com/portfolio-minimalistic/portfolio/offices/" class="sh-portfolio-category sh-heading-font">Offices</a>
                                                                </div>
                                                                <a href="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/33/2019/04/1essentialiving-8bEUB1cOKwA-unsplash1-420x660.jpg" data-rel="lightcase:portfolio6JARKnIUTw" class="sh-portfolio-fancy-item-overlay-lightbox">
                                                                    <i class="icon icon-size-fullscreen"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>


                                            <style type="text/css">
                                                #portfolio-fancy-6JARKnIUTw .sh-portfolio-fancy-item-overlay-bg {
                                                    background: rgba(41,76,255,0.53);
                                                }

                                                #portfolio-fancy-6JARKnIUTw .sh-portfolio-fancy-item {
                                                    padding: 0 5px;
                                                    margin: 5px 0;
                                                }
                                            </style>


                                            <div class="sh-empty-space vc_empty_space sh-empty-space-fhNuw4pgaG  " style="height: 80px">
                                                <span class="vc_empty_space_inner"></span>
                                            </div>

                                            <style type="text/css">
                                                #heading-ir51CHP8mv .sh-element-margin {
                                                }

                                                #heading-ir51CHP8mv .sh-heading-content {
                                                    font-size: 37px;
                                                    line-height: 140% !important;
                                                    font-weight: 700 !important;
                                                    color: #403f52;
                                                }

                                                #heading-ir51CHP8mv .sh-heading-content, #heading-ir51CHP8mv .sh-heading-additional-text {
                                                }
                                            </style>


                                            <div class="sh-empty-space vc_empty_space sh-empty-space-anpm1t5Ni8  " style="height: 32px">
                                                <span class="vc_empty_space_inner"></span>
                                            </div>


                                            <div class="sh-heading  " id="heading-rKsMRL1qBc">
                                                <div class="sh-element-margin">




                                                </div>
                                            </div>
                                            <style type="text/css">
                                                #heading-rKsMRL1qBc .sh-element-margin {
                                                }

                                                #heading-rKsMRL1qBc .sh-heading-content {
                                                    font-size: 17px;
                                                    line-height: 140% !important;
                                                    font-weight: 400 !important;
                                                    color: #6f7581;
                                                }

                                                #heading-rKsMRL1qBc .sh-heading-content, #heading-rKsMRL1qBc .sh-heading-additional-text {
                                                }
                                            </style>
                                        </div>
                                    </div>
                                </div>
                                <style type="text/css">
                                    .vc_row_579592521:not(.vc_parallax):not(.jarallax) {
                                        overflow: center !important;
                                        position: relative;
                                    }
                                </style>
                            </div><div class="vc_row wpb_row vc_inner vc_row-fluid vc_row_32506898">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <style media="screen">
                    (max-width: 1025px) {
                        .sh-empty-space-0og9j3w5LV {
                            height: 100px!important;
                        }
                    }
                                            </style>

                                            <div class="sh-empty-space vc_empty_space sh-empty-space-0og9j3w5LV  " style="height: 170px">
                                                <span class="vc_empty_space_inner"></span>
                                            </div>



                                            </ul>
                                        </div>
                                    </div>



                                    <div class="sh-empty-space vc_empty_space sh-empty-space-5EO3evQHwI  " style="height: 50px">
                                        <span class="vc_empty_space_inner"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </head>
                    <body>
                    </div><div class="vc_row-full-width vc_clearfix"></div><div class="vc_row wpb_row vc_row-fluid vc_row_1688617973">
                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_column_229534932">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div id="text-block-EbOZTAlpvQ" class="sh-text-block">
                                        <p></p>
                                        <p></p>
                                    </div>
                                    <style type="text/css">
                                        #text-block-EbOZTAlpvQ {
                                            font-size: 12px;
                                            color: #a1a1a1;
                                            margin: 0px;
                                        }

                                            #text-block-EbOZTAlpvQ a:hover, #text-block-EbOZTAlpvQ a:focus {
                                                color: #5470ff;
                                            }

                                            #text-block-EbOZTAlpvQ .drop-cap {
                                                font-weight: bold;
                                                font-size: 50px;
                                                display: block;
                                                float: left;
                                                margin: 8px 10px 0 0;
                                            }

                                            #text-block-EbOZTAlpvQ p {
                                                margin-bottom: 0;
                                            }
                                    </style>


                                    <div class="sh-empty-space vc_empty_space sh-empty-space-4om8QBulMR  " style="height: 30px">
                                        <span class="vc_empty_space_inner"></span>
                                    </div>

                                    <style type="text/css">
                                        .vc_column_229534932:not(.vc_parallax):not(.jarallax) {
                                            overflow: center !important;
                                            position: relative;
                                        }
                                    </style>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </footer>

            </div>




            <div class="sh-back-to-top sh-back-to-top1">
                <i class="icon-arrow-up"></i>
            </div>

        </div>











        <script type="text/javascript">
	jQuery(document).ready(function ($) {


        $('.primary-desktop .header-logo-container, .primary-mobile .header-logo-container').attr('href','//jevelin.shufflehound.com/hello/');

		function jevelin_settings() {
			if( $(window).width() < 600 ) {
				$('.sh-settings').hide();
			} else {
				$('.sh-settings').show();
			}
		}
		jevelin_settings();

	    $(window).resize(function() {
	        clearTimeout(window.resizedFinished2);
	        window.resizedFinished2 = setTimeout(function(){
	            jevelin_settings();
	        }, 500);
	    });

		$('.sh-settings-hide').on( 'click', function() {
			$('.sh-settings').toggleClass( 'sh-settings-active' );
		});

	    $(document).keyup(function(e) {
	        if (e.keyCode == 27) {
	            if( $('.sh-settings').hasClass('sh-settings-active') ) {
	                $('.sh-settings').removeClass('sh-settings-active');
	            }
	        }
	    });

		jQuery('.form-submit #submit').on('click', function( event ) {
			alert( 'This feature is disabled in our demo site. Sorry for any inconvenience.' );
			event.preventDefault()
			event.stopPropagation()
			return false;
		});

	});
        </script>

















        <script type="text/javascript">

	jQuery(document).ready(function ($) {
	    "use strict";

	    $(".sh-page-loader").fadeOut(500);
	    $("body").css('overflow-y', 'visible').css('overflow-x', 'hidden');

		$(window).bind('beforeunload', function(e){
			$('.sh-page-loader').fadeIn();
		});

	});
        </script>


        <style>
            .sh-page-loader {
                background-color: rgba(255,255,255,0.98) !important;
            }
        </style>


        <style type="text/css">
.sh-side-options {
	position: fixed;
	top: 0; bottom: 0;
	right: 0;
	z-index: 12345678902;
	transition: 0.3s all ease;
	transition: 0.2s all;
	padding: 0 0;
	width: 420px;
	transform: translateX(420px);
}

.sh-side-options.open {
	transform: translateX(0px);
	box-shadow: 0 0px 39px 10px rgba(0,0,0,0.2);
}

.sh-side-options-container {
	position: absolute;
	top: 216px; left: -75px;
	width: 60px;
	background-color: rgba(255,255,2555,1);
	border-radius: 5px;
	margin-right: 15px;
	box-shadow: -10px 0px 20px 2px rgba(0,0,0,.06);
}


.sh-side-options.sh-side-options-pages .sh-side-options-container {
	top: 150px;
}



.sh-side-options-item {
	display: block;
	text-align: center;
	margin: 0px;
	transition: 0.3s all ease-in-out;
	position: relative;
	padding: 7px;
	cursor: pointer;
}

.sh-side-options-item:not(:last-child) {
	border-bottom: 1px solid #f1f3fc;
}

.sh-side-options-item-container {
	border-radius: 4px;
	padding: 8px 0;
}

.sh-side-options-item:hover .sh-side-options-item-container,
.sh-side-options-item:focus .sh-side-options-item-container,
.sh-side-options.open .sh-side-options-item-trigger-demos .sh-side-options-item-container {
	background-color: #f3f5fd;
}




.sh-side-options-item i {
	font-size: 22px;
}

.sh-side-options-item:not(:hover):not(:focus) {
	color: #9396a5!important;
}

.sh-side-options-item:hover .sh-side-options-hover {
	opacity: 1;
	transform: translateX(-97%);
}

.sh-side-options-hover {
	position: absolute;
	background-color: #ffffff;
	color: #32343d;
	padding: 20px 26px;
	transform: translateX(-70%);
	left: 0px;
	top: 0;
	bottom: 0;
	opacity: 0;
	transition: 0.2s all ease-in-out;
	z-index: -100;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	font-size: 13px;
	box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.08);
}

.sh-side-options-hover span {
	padding: 0px 3px;
}

(max-width: 700px) {

	.sh-side-options {
		width: 52px;
	}

	.sh-side-options-item {
		padding: 10px 0;
	}

	.sh-side-options-item i {
		font-size: 16px;
	}

}

(max-width: 600px) {

	.sh-side-options {
		display: none;
	}

}

(max-height: 500px) {
	.sh-side-options {
		top: 120px!important;
	}
}


.sh-side-options-item i {
	color: #9396a5!important;
}

.sh-side-options.open .sh-side-options-item-trigger-demos i,
.sh-side-options-item:hover i,
.sh-side-options-item:focus i {
	color: #294cff!important;
}



/*
** Side Demos
*/
.sh-side-demos-container {
	top: 0; left: 0; right: -17px; bottom: 0;
	position: absolute;
	overflow-y: scroll;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: right top;
	padding: 22px;
}

body.admin-bar .sh-side-demos-container {
	top: 32px;
}


/* Demos Text */
.sh-side-demos-intro {
	text-align: center;
}

.sh-side-demos-intro-title {
	font-size: 24px;
	font-weight: 300;
	margin-top: 25px;
	margin-bottom: 15px;
}

.sh-side-demos-intro-title img {
	height: 24px;
    top: -6px;
    position: relative;
}

.sh-side-demos-intro-descr {
	max-width: 250px;
	margin: 0 auto;
	display: table;
	color: #838794;
}



/* Demos Close Button */
.sh-side-demos-container-close {
	position: absolute;
	top: 22px;
	right: 22px;
	cursor: pointer;
}

.sh-side-demos-container-close i {
	color: #c5c5c5;
	font-size: 18px;
	transition: 0.3s all ease;
}

.sh-side-demos-container-close:hover i,
.sh-side-demos-container-close:focus i {
	color: #7f7f7f;
}


/* Demo Items */
.sh-side-demos-loop-container {
	position: relative;
	margin: 0 -10px;
	margin-top: 28px;
}

.sh-side-demos-item {
	display: inline-block;
	position: relative;
	margin-right: -4px;
	margin-bottom: 25px;
	width: 50%;
	padding: 0 10px;
	text-align: center;
	transition: .3s all ease;
	top: 0;
}

.sh-side-demos-item:hover {
	top: -4px;
}

.sh-side-demos-item .sh-image-lazy-loading {
	border-radius: 3px;
	box-shadow: 0 2px 20px 1px rgba(0,0,0,.1);
}

.sh-side-demos-item img {
	border-radius: 3px;
}

.sh-side-demos-item-name {
	font-size: 12px;
	color: #32343d;
	font-weight: 600;
	padding-top: 10px;
}

.sh-side-demos-item-tag {
	position: absolute!important;
	width: auto!important;
	height: auto!important;
    top: 4px;
    left: 6px;
    background-color: #ff5944;
    color: #fff;
    font-size: 9px;
    font-weight: 600;
    display: block;
    padding: 1px 9px;
    text-transform: capitalize;
    border-radius: 100px;
}

        </style>


        <script type="text/javascript">
jQuery(document).ready(function ($) {
	/*if( $(window).width() > 1000) {
		if( $.cookie( 'gillion.sidebartest', { path: '', domain: 'jevelin.shufflehound.com' } ) == 'opened' ) {
			$('.sh-side-demos').addClass('open');
		} else {
			$('.sh-side-demos').removeClass('open');
		}
	}*/

	$('.sh-side-options-item-trigger-demos').on('click', function() {
		$('.sh-side-options').css( 'transition', '0.3s all ease-in-out' );

		if( $('.sh-side-options').hasClass( 'open' ) ) {
			$('.sh-side-options').removeClass('open');
		} else {
			$('.sh-side-options .sh-side-demos-image').each( function() {
				$(this).attr( 'src', $(this).attr( 'data-src' ) );
			});
			$('.sh-side-options').addClass('open');
		}
	});

	$('.sh-side-demos-container-close').on( 'click', function() {
		$('.sh-side-options').css( 'transition', '0.3s all ease-in-out' );
		$('.sh-side-options').removeClass('open');
	});
});
        </script>

        <script type="text/html" id="wpb-modifications">
        </script>
        <script type="text/javascript">
		var c = document.body.className;
		c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
		document.body.className = c;
        </script>
        <script type="text/javascript">
/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"https:\/\/jevelin.shufflehound.com\/portfolio-minimalistic\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"}};
/* ]]> */
        </script>
        <script type="text/javascript" src="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.1.6"></script>
        <script type="text/javascript" src="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4"></script>
        <script type="text/javascript">
/* <![CDATA[ */
var woocommerce_params = {"ajax_url":"\/portfolio-minimalistic\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/portfolio-minimalistic\/?wc-ajax=%%endpoint%%"};
/* ]]> */
        </script>
        <script type="text/javascript" src="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=3.8.1"></script>
        <script type="text/javascript">
/* <![CDATA[ */
var wc_cart_fragments_params = {"ajax_url":"\/portfolio-minimalistic\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/portfolio-minimalistic\/?wc-ajax=%%endpoint%%","cart_hash_key":"wc_cart_hash_85f2bd2f417e13560d22cb0ef1510982","fragment_name":"wc_fragments_85f2bd2f417e13560d22cb0ef1510982","request_timeout":"5000"};
/* ]]> */
        </script>
        <script type="text/javascript" src="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=3.8.1"></script>
        <script type="text/javascript" src="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-includes/js/jquery/ui/effect.min.js?ver=1.11.4"></script>
        <script type="text/javascript" src="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-content/themes/jevelin/js/plugins/bootstrap.min.js?ver=3.3.4"></script>
        <script type="text/javascript" src="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-includes/js/wp-embed.min.js?ver=5.3.2"></script>
        <script type="text/javascript" src="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js?ver=6.1"></script>
        <script type="text/javascript" src="https://jevelin.shufflehound.com/portfolio-minimalistic/wp-includes/js/comment-reply.min.js?ver=5.3.2"></script>
        <script type="text/javascript">jQuery(document).ready(function ($) { "use strict"; });</script>



        </body>
    </html>
